<template>
    <form @submit.prevent="submitForm"  role="form" method="post" enctype="multipart/form-data">
      <div class="row">
      <show-error></show-error>
      <div class="col-sm-6">
        <div class="card card-primary card-outline">
                <div class="card-body">
                  <h5 class="card-title">Stock Manage</h5><br>
                    <div class="card-body">
                      <div class="form-group">
                        <label>Product<span class="text-danger">*</span></label>
                        <Select2 v-model="selectedProduct" :options="products" :settings="{ placeholder: 'Select Product' }"/>
                      </div>

                      <div class="form-group">
                        <label>Date<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" v-model="form.date">
                      </div>

                      <div class="form-group">
                        <label>Stock Type<span class="text-danger">*</span></label>
                        <select v-model="form.stock_type" class="form-control">
                          <option value="in">IN</option>
                          <option value="out">OUT</option>
                        </select>
                      </div>
                    </div>
                    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Submit</button>
                    </div>
                </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-primary card-outline">
          <div class="card-body">
              <h5 class="card-title">Product Size</h5><br>
                <table class="table table-sm">
                    <tr v-for="(item,index) in form.items" :key="index">
                        <td>{{ item.size}}</td>
                        <td>
                            <input class="form-control" v-model="item.quantity" placeholder="Quantity">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
      </div>
    </div>
  </form>
  </template>
  
  <script>
    import store from '../../store'
    import * as actions from '../../store/action-types';
    import { mapGetters } from 'vuex'
    import ShowError from '../utils/ShowError.vue'
  
  
    export default {
      components: {
        ShowError
      },
      data(){
        return {
          selectedProduct: '',
          form: {
            date: '',
            stock_type: 'in',
            product_id: '',
            items: []
          }
        }
      },
      computed: {
          ...mapGetters({
          'products': 'getproducts',
        })
      },
      mounted(){
        store.dispatch(actions.GET_PRODUCTS)
      },
      methods: {
        submitForm(){
          store.dispatch(actions.SUBMIT_STOCK, this.form)
        }
      },
      watch: {
        selectedProduct:function(value){
          this.form.items = []
          let item = this.products.find((product) => {
            return product.id == value;
          })
          item.product_stocks.map((stock) =>{
            this.form.items.push({
              size: stock.size.size,
              size_id: stock.size_id,
              quantity: ''
            })
          })
          this.form.product_id = value
          console.log(item)
        }
      }
    }
  </script>